header.border-bottom.sticky-top
    nav.navbar.bg-white
        .container
            .d-flex.justify-content-between.align-items-center.flex-grow-1
                a.navbar-brand(href="/src/view/index.pug") #[img#logo(src="/src/assets/images/logo.png", alt="logo")]
                .hstack.gap-3
                    #nav-profile.dropdown
                        span.dropdown-toggle(data-bs-toggle="dropdown") #[b admin] #[span (관리자)]
                        ul.dropdown-menu.dropdown-menu-end
                            a.dropdown-item(href="/src/view/mypage.pug")
                                .hstack.gap-2
                                    i.bi.bi-person.fs-5.lh-base
                                    span 마이페이지
                            a.dropdown-item(href="/src/view/login.pug")
                                .hstack.gap-2
                                    i.bi.bi-box-arrow-right.fs-5.lh-base
                                    span 로그아웃
                    button.btn.btn-light.d-none.d-lg-inline-flex.align-items-center #[img.me-2(src="/src/assets/images/logo_ao3.png", alt="logo_ao3")] #[span 매니저로 이동]
