extends ../templates/base

include ../templates/mixins/carousel

mixin cardBoard(option)
    .row.row-cols-1.row-cols-md-2.row-cols-lg-4.g-4
        .col
            .card.card-item
                .card-body
                    .vstack.gap-3.h-100
                        .vstack.gap-2.flex-grow-1
                            .d-flex.justify-content-between.align-items-center
                                h5.text-primary.fw-bold 태스크
                                .hstack.gap-3.justify-content-end.text-muted.small
                                    .hstack.gap-1
                                        i.bi.bi-download.lh-1
                                        span 1
                                    .hstack.gap-1
                                        i.bi.bi-chat-square-text.lh-1
                                        span 5
                            h4.fw-bold.card-title 날짜 계산기
                            .hstack.flex-wrap.gap-2.my-1
                                span.badge.rounded-pill.text-bg-light #task
                                span.badge.rounded-pill.text-bg-light #headless
                                span.badge.rounded-pill.text-bg-light #script
                                span.badge.rounded-pill.text-bg-light #simple
                        .hstack.justify-content-between.align-items-end.text-muted.small
                            .vstack.gap-2
                                .hstack.gap-1
                                    i.bi.bi-grid-3x3-gap-fill.lh-1
                                    span 태스크 : 날짜_계산기
                                .hstack.gap-1
                                    i.bi.bi-person-fill.lh-1
                                    span 등록자 : ADMIN
                            span v1.3
        .col
            .card.card-item
                .card-body
                    .vstack.gap-3.h-100
                        .vstack.gap-2.flex-grow-1
                            .d-flex.justify-content-between.align-items-center
                                h5.text-primary.fw-bold 기타
                                .hstack.gap-3.justify-content-end.text-muted.small
                                    .hstack.gap-1
                                        i.bi.bi-download.lh-1
                                        span 1
                                    .hstack.gap-1
                                        i.bi.bi-chat-square-text.lh-1
                                        span 5
                            h4.fw-bold.card-title 날짜 계산기
                            .hstack.flex-wrap.gap-2.my-1
                                span.badge.rounded-pill.text-bg-light #task
                                span.badge.rounded-pill.text-bg-light #headless
                                span.badge.rounded-pill.text-bg-light #script
                                span.badge.rounded-pill.text-bg-light #simple
                        .hstack.justify-content-between.align-items-end.text-muted.small
                            .hstack.gap-1
                                i.bi.bi-person-fill.lh-1
                                span 등록자 : ADMIN
                            span v1.3
        .col
            .card.card-item
                .card-body
                    .vstack.gap-3.h-100
                        .vstack.gap-2.flex-grow-1
                            .d-flex.justify-content-between.align-items-center
                                h5.text-primary.fw-bold 태스크
                                .hstack.gap-3.justify-content-end.text-muted.small
                                    .hstack.gap-1
                                        i.bi.bi-download.lh-1
                                        span 1
                                    .hstack.gap-1
                                        i.bi.bi-chat-square-text.lh-1
                                        span 5
                            h4.fw-bold.card-title 날짜 계산기
                            .hstack.flex-wrap.gap-2.my-1
                                span.badge.rounded-pill.text-bg-light #task
                                span.badge.rounded-pill.text-bg-light #headless
                                span.badge.rounded-pill.text-bg-light #script
                                span.badge.rounded-pill.text-bg-light #simple
                        .hstack.justify-content-between.align-items-end.text-muted.small
                            .vstack.gap-2
                                .hstack.gap-1
                                    i.bi.bi-grid-3x3-gap-fill.lh-1
                                    span 태스크 : 날짜_계산기
                                .hstack.gap-1
                                    i.bi.bi-person-fill.lh-1
                                    span 등록자 : ADMIN
                            span v1.3
        .col
            .card.card-item
                .card-body
                    .vstack.gap-3.h-100
                        .vstack.gap-2.flex-grow-1
                            .d-flex.justify-content-between.align-items-center
                                h5.text-primary.fw-bold 태스크
                                .hstack.gap-3.justify-content-end.text-muted.small
                                    .hstack.gap-1
                                        i.bi.bi-download.lh-1
                                        span 1
                                    .hstack.gap-1
                                        i.bi.bi-chat-square-text.lh-1
                                        span 5
                            h4.fw-bold.card-title 날짜 계산기
                            .hstack.flex-wrap.gap-2.my-1
                                span.badge.rounded-pill.text-bg-light #task
                                span.badge.rounded-pill.text-bg-light #headless
                                span.badge.rounded-pill.text-bg-light #script
                                span.badge.rounded-pill.text-bg-light #simple
                        .hstack.justify-content-between.align-items-end.text-muted.small
                            .vstack.gap-2
                                .hstack.gap-1
                                    i.bi.bi-grid-3x3-gap-fill.lh-1
                                    span 태스크 : 날짜_계산기
                                .hstack.gap-1
                                    i.bi.bi-person-fill.lh-1
                                    span 등록자 : ADMIN
                            span v1.3
        if option
            .col
                .card.card-item
                    .card-body
                        .vstack.gap-3.h-100
                            .vstack.gap-2.flex-grow-1
                                .d-flex.justify-content-between.align-items-center
                                    h5.text-primary.fw-bold 태스크
                                    .hstack.gap-3.justify-content-end.text-muted.small
                                        .hstack.gap-1
                                            i.bi.bi-download.lh-1
                                            span 1
                                        .hstack.gap-1
                                            i.bi.bi-chat-square-text.lh-1
                                            span 5
                                h4.fw-bold.card-title 날짜 계산기
                                .hstack.flex-wrap.gap-2.my-1
                                    span.badge.rounded-pill.text-bg-light #task
                                    span.badge.rounded-pill.text-bg-light #headless
                                    span.badge.rounded-pill.text-bg-light #script
                                    span.badge.rounded-pill.text-bg-light #simple
                            .hstack.justify-content-between.align-items-end.text-muted.small
                                .vstack.gap-2
                                    .hstack.gap-1
                                        i.bi.bi-grid-3x3-gap-fill.lh-1
                                        span 태스크 : 날짜_계산기
                                    .hstack.gap-1
                                        i.bi.bi-person-fill.lh-1
                                        span 등록자 : ADMIN
                                span v1.3
            .col
                .card.card-item
                    .card-body
                        .vstack.gap-3.h-100
                            .vstack.gap-2.flex-grow-1
                                .d-flex.justify-content-between.align-items-center
                                    h5.text-primary.fw-bold 기타
                                    .hstack.gap-3.justify-content-end.text-muted.small
                                        .hstack.gap-1
                                            i.bi.bi-download.lh-1
                                            span 1
                                        .hstack.gap-1
                                            i.bi.bi-chat-square-text.lh-1
                                            span 5
                                h4.fw-bold.card-title 날짜 계산기
                                .hstack.flex-wrap.gap-2.my-1
                                    span.badge.rounded-pill.text-bg-light #task
                                    span.badge.rounded-pill.text-bg-light #headless
                                    span.badge.rounded-pill.text-bg-light #script
                                    span.badge.rounded-pill.text-bg-light #simple
                            .hstack.justify-content-between.align-items-end.text-muted.small
                                .hstack.gap-1
                                    i.bi.bi-person-fill.lh-1
                                    span 등록자 : ADMIN
                                span v1.3
            .col
                .card.card-item
                    .card-body
                        .vstack.gap-3.h-100
                            .vstack.gap-2.flex-grow-1
                                .d-flex.justify-content-between.align-items-center
                                    h5.text-primary.fw-bold 태스크
                                    .hstack.gap-3.justify-content-end.text-muted.small
                                        .hstack.gap-1
                                            i.bi.bi-download.lh-1
                                            span 1
                                        .hstack.gap-1
                                            i.bi.bi-chat-square-text.lh-1
                                            span 5
                                h4.fw-bold.card-title 날짜 계산기
                                .hstack.flex-wrap.gap-2.my-1
                                    span.badge.rounded-pill.text-bg-light #task
                                    span.badge.rounded-pill.text-bg-light #headless
                                    span.badge.rounded-pill.text-bg-light #script
                                    span.badge.rounded-pill.text-bg-light #simple
                            .hstack.justify-content-between.align-items-end.text-muted.small
                                .vstack.gap-2
                                    .hstack.gap-1
                                        i.bi.bi-grid-3x3-gap-fill.lh-1
                                        span 태스크 : 날짜_계산기
                                    .hstack.gap-1
                                        i.bi.bi-person-fill.lh-1
                                        span 등록자 : ADMIN
                                span v1.3
            .col
                .card.card-item
                    .card-body
                        .vstack.gap-3.h-100
                            .vstack.gap-2.flex-grow-1
                                .d-flex.justify-content-between.align-items-center
                                    h5.text-primary.fw-bold 태스크
                                    .hstack.gap-3.justify-content-end.text-muted.small
                                        .hstack.gap-1
                                            i.bi.bi-download.lh-1
                                            span 1
                                        .hstack.gap-1
                                            i.bi.bi-chat-square-text.lh-1
                                            span 5
                                h4.fw-bold.card-title 날짜 계산기
                                .hstack.flex-wrap.gap-2.my-1
                                    span.badge.rounded-pill.text-bg-light #task
                                    span.badge.rounded-pill.text-bg-light #headless
                                    span.badge.rounded-pill.text-bg-light #script
                                    span.badge.rounded-pill.text-bg-light #simple
                            .hstack.justify-content-between.align-items-end.text-muted.small
                                .vstack.gap-2
                                    .hstack.gap-1
                                        i.bi.bi-grid-3x3-gap-fill.lh-1
                                        span 태스크 : 날짜_계산기
                                    .hstack.gap-1
                                        i.bi.bi-person-fill.lh-1
                                        span 등록자 : ADMIN
                                span v1.3
block contents
    section
        a.d-none(href="/src/view/error.pug")
        .container
            .vstack.gap-4.py-4
                .hstack.justify-content-between
                    legend.w-auto 스토어 #[span.text-primary 16]
                    a.btn.hstack.gap-1.fw-bold.text-muted.small(href="#")
                        span 전체보기
                        i.bi.bi-chevron-right.lh-1
                +cardBoard("store")
                .hstack.justify-content-between
                    legend 라이브러리 #[span.text-primary 16]
                    a.btn.hstack.gap-1.fw-bold.text-muted.small(href="#")
                        span 전체보기
                        i.bi.bi-chevron-right.lh-1
                +cardBoard
                .hstack.justify-content-between
                    legend 코드조각 #[span.text-primary 16]
                    a.btn.hstack.gap-1.fw-bold.text-muted.small(href="#")
                        span 전체보기
                        i.bi.bi-chevron-right.lh-1
                +cardBoard
