extends ../templates/base

block contents
    a.d-none(href="/src/view/board/board-detail.pug")
    section
        .container
            .vstack.gap-4.py-4
                h1.fw-bold Automation Store
                #top-bar.bar-home.card.border-0
                    .card-body
                        .d-flex.flex-column.flex-lg-row.justify-content-lg-between.align-items-lg-center
                            h5.fw-bold.text-light.mb-4.mb-lg-0 함께 나눌 때 더 쉽고 빨라집니다.
                            a.btn.btn-lg.btn-light.text-primary.fw-bold(
                                href="/src/view/board/board-new.pug"
                            )
                                .hstack.gap-2.text-center
                                    i.bi.bi-pencil
                                    span Automation Store 등록
                legend 전체 #[span.text-primary 16]
                .row.row-cols-1.row-cols-md-2.row-cols-lg-4.g-4
                    .col
                        .card.card-item(
                            onclick="location.href='/board/board-detail.html';"
                        )
                            .card-body
                                .vstack.gap-2
                                    .d-flex.justify-content-between.align-items-center
                                        h5.text-primary.fw-bold 태스크
                                        .hstack.gap-3.justify-content-end.text-muted.small
                                            .hstack.gap-1
                                                i.bi.bi-download.lh-1
                                                span 1
                                            .hstack.gap-1
                                                i.bi.bi-chat-square-text.lh-1
                                                span 5
                                    h4.fw-bold.card-title 날짜 계산기
                                    p.card-text.text-muted Javascript를 이용한 날짜 계산 Sample Task입니다. ①초라도 안보이면 ②렇게 초조한데
                                    .hstack.gap-2
                                        span.badge.rounded-pill.text-bg-light #task
                                        span.badge.rounded-pill.text-bg-light #headless
                                        span.badge.rounded-pill.text-bg-light #script
                                        span.badge.rounded-pill.text-bg-light #simple
                                hr
                                .hstack.justify-content-between.text-muted.small
                                    .hstack.gap-1
                                        i.bi.bi-person-fill
                                        span ADMIN
                                    span v1.3
                    .col
                        .card.card-item
                            .card-body
                                .vstack.gap-2
                                    .d-flex.justify-content-between.align-items-center
                                        h5.text-primary.fw-bold 기타
                                        .hstack.gap-3.justify-content-end.text-muted.small
                                            .hstack.gap-1
                                                i.bi.bi-download.lh-1
                                                span 1
                                            .hstack.gap-1
                                                i.bi.bi-chat-square-text.lh-1
                                                span 5
                                    h4.fw-bold.card-title 날짜 계산기
                                    p.card-text.text-muted Javascript를 이용한 날짜 계산 Sample Task입니다. ①초라도 안보이면 ②렇게 초조한데
                                    .hstack.gap-2
                                        span.badge.rounded-pill.text-bg-light #task
                                        span.badge.rounded-pill.text-bg-light #headless
                                        span.badge.rounded-pill.text-bg-light #script
                                        span.badge.rounded-pill.text-bg-light #simple
                                hr
                                .hstack.justify-content-between.text-muted.small
                                    .hstack.gap-1
                                        i.bi.bi-person-fill
                                        span ADMIN
                                    span v1.3
                    .col
                        .card.card-item
                            .card-body
                                .vstack.gap-2
                                    .d-flex.justify-content-between.align-items-center
                                        h5.text-primary.fw-bold 태스크
                                        .hstack.gap-3.justify-content-end.text-muted.small
                                            .hstack.gap-1
                                                i.bi.bi-download.lh-1
                                                span 1
                                            .hstack.gap-1
                                                i.bi.bi-chat-square-text.lh-1
                                                span 5
                                    h4.fw-bold.card-title 날짜 계산기
                                    p.card-text.text-muted Javascript를 이용한 날짜 계산 Sample Task입니다. ①초라도 안보이면 ②렇게 초조한데
                                    .hstack.gap-2
                                        span.badge.rounded-pill.text-bg-light #task
                                        span.badge.rounded-pill.text-bg-light #headless
                                        span.badge.rounded-pill.text-bg-light #script
                                        span.badge.rounded-pill.text-bg-light #simple
                                hr
                                .hstack.justify-content-between.text-muted.small
                                    .hstack.gap-1
                                        i.bi.bi-person-fill
                                        span ADMIN
                                    span v1.3
                    .col
                        .card.card-item
                            .card-body
                                .vstack.gap-2
                                    .d-flex.justify-content-between.align-items-center
                                        h5.text-primary.fw-bold 태스크
                                        .hstack.gap-3.justify-content-end.text-muted.small
                                            .hstack.gap-1
                                                i.bi.bi-download.lh-1
                                                span 1
                                            .hstack.gap-1
                                                i.bi.bi-chat-square-text.lh-1
                                                span 5
                                    h4.fw-bold.card-title 날짜 계산기
                                    p.card-text.text-muted Javascript를 이용한 날짜 계산 Sample Task입니다. ①초라도 안보이면 ②렇게 초조한데
                                    .hstack.gap-2
                                        span.badge.rounded-pill.text-bg-light #task
                                        span.badge.rounded-pill.text-bg-light #headless
                                        span.badge.rounded-pill.text-bg-light #script
                                        span.badge.rounded-pill.text-bg-light #simple
                                hr
                                .hstack.justify-content-between.text-muted.small
                                    .hstack.gap-1
                                        i.bi.bi-person-fill
                                        span ADMIN
                                    span v1.3
                    .col
                        .card.card-item
                            .card-body
                                .vstack.gap-2
                                    .d-flex.justify-content-between.align-items-center
                                        h5.text-primary.fw-bold 태스크
                                        .hstack.gap-3.justify-content-end.text-muted.small
                                            .hstack.gap-1
                                                i.bi.bi-download.lh-1
                                                span 1
                                            .hstack.gap-1
                                                i.bi.bi-chat-square-text.lh-1
                                                span 5
                                    h4.fw-bold.card-title 날짜 계산기
                                    p.card-text.text-muted Javascript를 이용한 날짜 계산 Sample Task입니다. ①초라도 안보이면 ②렇게 초조한데
                                    .hstack.gap-2
                                        span.badge.rounded-pill.text-bg-light #task
                                        span.badge.rounded-pill.text-bg-light #headless
                                        span.badge.rounded-pill.text-bg-light #script
                                        span.badge.rounded-pill.text-bg-light #simple
                                hr
                                .hstack.justify-content-between.text-muted.small
                                    .hstack.gap-1
                                        i.bi.bi-person-fill
                                        span ADMIN
                                    span v1.3
                    .col
                        .card.card-item
                            .card-body
                                .vstack.gap-2
                                    .d-flex.justify-content-between.align-items-center
                                        h5.text-primary.fw-bold 기타
                                        .hstack.gap-3.justify-content-end.text-muted.small
                                            .hstack.gap-1
                                                i.bi.bi-download.lh-1
                                                span 1
                                            .hstack.gap-1
                                                i.bi.bi-chat-square-text.lh-1
                                                span 5
                                    h4.fw-bold.card-title 날짜 계산기
                                    p.card-text.text-muted Javascript를 이용한 날짜 계산 Sample Task입니다. ①초라도 안보이면 ②렇게 초조한데
                                    .hstack.gap-2
                                        span.badge.rounded-pill.text-bg-light #task
                                        span.badge.rounded-pill.text-bg-light #headless
                                        span.badge.rounded-pill.text-bg-light #script
                                        span.badge.rounded-pill.text-bg-light #simple
                                hr
                                .hstack.justify-content-between.text-muted.small
                                    .hstack.gap-1
                                        i.bi.bi-person-fill
                                        span ADMIN
                                    span v1.3
                    .col
                        .card.card-item
                            .card-body
                                .vstack.gap-2
                                    .d-flex.justify-content-between.align-items-center
                                        h5.text-primary.fw-bold 태스크
                                        .hstack.gap-3.justify-content-end.text-muted.small
                                            .hstack.gap-1
                                                i.bi.bi-download.lh-1
                                                span 1
                                            .hstack.gap-1
                                                i.bi.bi-chat-square-text.lh-1
                                                span 5
                                    h4.fw-bold.card-title 날짜 계산기
                                    p.card-text.text-muted Javascript를 이용한 날짜 계산 Sample Task입니다. ①초라도 안보이면 ②렇게 초조한데
                                    .hstack.gap-2
                                        span.badge.rounded-pill.text-bg-light #task
                                        span.badge.rounded-pill.text-bg-light #headless
                                        span.badge.rounded-pill.text-bg-light #script
                                        span.badge.rounded-pill.text-bg-light #simple
                                hr
                                .hstack.justify-content-between.text-muted.small
                                    .hstack.gap-1
                                        i.bi.bi-person-fill
                                        span ADMIN
                                    span v1.3
                    .col
                        .card.card-item
                            .card-body
                                .vstack.gap-2
                                    .d-flex.justify-content-between.align-items-center
                                        h5.text-primary.fw-bold 태스크
                                        .hstack.gap-3.justify-content-end.text-muted.small
                                            .hstack.gap-1
                                                i.bi.bi-download.lh-1
                                                span 1
                                            .hstack.gap-1
                                                i.bi.bi-chat-square-text.lh-1
                                                span 5
                                    h4.fw-bold.card-title 날짜 계산기
                                    p.card-text.text-muted Javascript를 이용한 날짜 계산 Sample Task입니다. ①초라도 안보이면 ②렇게 초조한데
                                    .hstack.gap-2
                                        span.badge.rounded-pill.text-bg-light #task
                                        span.badge.rounded-pill.text-bg-light #headless
                                        span.badge.rounded-pill.text-bg-light #script
                                        span.badge.rounded-pill.text-bg-light #simple
                                hr
                                .hstack.justify-content-between.text-muted.small
                                    .hstack.gap-1
                                        i.bi.bi-person-fill
                                        span ADMIN
                                    span v1.3
                    .col
                        .card.card-item
                            .card-body
                                .vstack.gap-2
                                    .d-flex.justify-content-between.align-items-center
                                        h5.text-primary.fw-bold 태스크
                                        .hstack.gap-3.justify-content-end.text-muted.small
                                            .hstack.gap-1
                                                i.bi.bi-download.lh-1
                                                span 1
                                            .hstack.gap-1
                                                i.bi.bi-chat-square-text.lh-1
                                                span 5
                                    h4.fw-bold.card-title 날짜 계산기
                                    p.card-text.text-muted Javascript를 이용한 날짜 계산 Sample Task입니다. ①초라도 안보이면 ②렇게 초조한데
                                    .hstack.gap-2
                                        span.badge.rounded-pill.text-bg-light #task
                                        span.badge.rounded-pill.text-bg-light #headless
                                        span.badge.rounded-pill.text-bg-light #script
                                        span.badge.rounded-pill.text-bg-light #simple
                                hr
                                .hstack.justify-content-between.text-muted.small
                                    .hstack.gap-1
                                        i.bi.bi-person-fill
                                        span ADMIN
                                    span v1.3
                    .col
                        .card.card-item
                            .card-body
                                .vstack.gap-2
                                    .d-flex.justify-content-between.align-items-center
                                        h5.text-primary.fw-bold 기타
                                        .hstack.gap-3.justify-content-end.text-muted.small
                                            .hstack.gap-1
                                                i.bi.bi-download.lh-1
                                                span 1
                                            .hstack.gap-1
                                                i.bi.bi-chat-square-text.lh-1
                                                span 5
                                    h4.fw-bold.card-title 날짜 계산기
                                    p.card-text.text-muted Javascript를 이용한 날짜 계산 Sample Task입니다. ①초라도 안보이면 ②렇게 초조한데
                                    .hstack.gap-2
                                        span.badge.rounded-pill.text-bg-light #task
                                        span.badge.rounded-pill.text-bg-light #headless
                                        span.badge.rounded-pill.text-bg-light #script
                                        span.badge.rounded-pill.text-bg-light #simple
                                hr
                                .hstack.justify-content-between.text-muted.small
                                    .hstack.gap-1
                                        i.bi.bi-person-fill
                                        span ADMIN
                                    span v1.3
                    .col
                        .card.card-item
                            .card-body
                                .vstack.gap-2
                                    .d-flex.justify-content-between.align-items-center
                                        h5.text-primary.fw-bold 태스크
                                        .hstack.gap-3.justify-content-end.text-muted.small
                                            .hstack.gap-1
                                                i.bi.bi-download.lh-1
                                                span 1
                                            .hstack.gap-1
                                                i.bi.bi-chat-square-text.lh-1
                                                span 5
                                    h4.fw-bold.card-title 날짜 계산기
                                    p.card-text.text-muted Javascript를 이용한 날짜 계산 Sample Task입니다. ①초라도 안보이면 ②렇게 초조한데
                                    .hstack.gap-2
                                        span.badge.rounded-pill.text-bg-light #task
                                        span.badge.rounded-pill.text-bg-light #headless
                                        span.badge.rounded-pill.text-bg-light #script
                                        span.badge.rounded-pill.text-bg-light #simple
                                hr
                                .hstack.justify-content-between.text-muted.small
                                    .hstack.gap-1
                                        i.bi.bi-person-fill
                                        span ADMIN
                                    span v1.3
                    .col
                        .card.card-item
                            .card-body
                                .vstack.gap-2
                                    .d-flex.justify-content-between.align-items-center
                                        h5.text-primary.fw-bold 태스크
                                        .hstack.gap-3.justify-content-end.text-muted.small
                                            .hstack.gap-1
                                                i.bi.bi-download.lh-1
                                                span 1
                                            .hstack.gap-1
                                                i.bi.bi-chat-square-text.lh-1
                                                span 5
                                    h4.fw-bold.card-title 날짜 계산기
                                    p.card-text.text-muted Javascript를 이용한 날짜 계산 Sample Task입니다. ①초라도 안보이면 ②렇게 초조한데
                                    .hstack.gap-2
                                        span.badge.rounded-pill.text-bg-light #task
                                        span.badge.rounded-pill.text-bg-light #headless
                                        span.badge.rounded-pill.text-bg-light #script
                                        span.badge.rounded-pill.text-bg-light #simple
                                hr
                                .hstack.justify-content-between.text-muted.small
                                    .hstack.gap-1
                                        i.bi.bi-person-fill
                                        span ADMIN
                                    span v1.3
                button.btn.btn-lg.btn-primary.w-100.fw-bold
                    .hstack.gap-2.justify-content-center
                        i.bi.bi-chevron-down
                        span 더보기
