mixin breadcrumb(path)
    nav.border-bottom.bg-white.sticky-top(aria-label="breadcrumb")
        .container.h-100
            ol.row.g-0.breadcrumb.h-100
                li.col-auto.breadcrumb-item
                    img(src="/src/assets/images/ic_home.png")
                each val in path
                    li.col-auto.breadcrumb-item
                        span= val

mixin pagination(option)
    nav(aria-label="pagination", class=option)
        ul.pagination.justify-content-center
            li.page-item.disabled
                a.page-link(href="#", aria-label="Previous")
                    span(aria-hidden="true")
                        i.bi.bi-chevron-double-left
            li.page-item.disabled
                a.page-link(href="#", aria-label="Previous")
                    span(aria-hidden="true")
                        i.bi.bi-chevron-left
            li.page-item.active
                a.page-link(href="#") 1
            li.page-item
                a.page-link(href="#") 2
            li.page-item
                a.page-link(href="#") 3
            li.page-item
                a.page-link(href="#", aria-label="Next")
                    span(aria-hidden="true")
                        i.bi.bi-chevron-right
            li.page-item
                a.page-link(href="#", aria-label="Next")
                    span(aria-hidden="true")
                        i.bi.bi-chevron-double-right
