@import "node_modules/@yaireo/tagify/src/tagify.scss";

@mixin mobile {
    @include media-breakpoint-down(lg) {
        @content;
    }
}

html,
body {
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    position: relative;
    -ms-overflow-style: none; // IE, Edge
    scrollbar-width: none; // Firefox
    word-break: keep-all;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    // &::-webkit-scrollbar {
    //     display: none; // Chrome , Safari , Opera
    // }
}

a,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}

textarea {
    resize: none !important;
}

.vsc-controller {
    display: none;
}

.vr {
    align-self: auto;
}

/* Text */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}

/* Legend */
legend {
    float: left;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: inherit;
    margin-bottom: 0;
    padding: 0;
    width: 100%;
}

/* Card */
.card {
    &.card-item {
        transition: border-color 0.2s ease-in-out;
        &:hover {
            border-color: $primary;
        }
    }

    .card-title {
        margin-bottom: 0;
    }

    .card-text {
        white-space: normal;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-bottom: 0;
    }
}
