// form control
$input-btn-padding-y-lg: 0.5rem;
$input-btn-padding-x-lg: 1rem;
$input-padding-y-lg: $input-btn-padding-y-lg * 2;
$input-padding-x-lg: $input-btn-padding-x-lg;

// button
$btn-font-size-lg: 1rem;

// navbar
$navbar-padding-y: $spacer * 1.25;
$navbar-brand-padding-y: 0;
$navbar-nav-link-padding-x: 1rem;

// list-group
$list-group-bg: transparent;
$list-group-border-color: rgba(0, 0, 0, 0.13);

// card
$card-spacer-y: $spacer * 3;
$card-spacer-x: $spacer * 3;
