$navbar-height: 5rem;
$breadcrumb-height: 3rem;

nav.navbar {
    height: $navbar-height !important;

    .navbar-brand {
        margin: 0 !important;
    }

    #nav-profile {
        cursor: pointer;
    }

    .nav-link {
        color: $white !important;
        font-weight: $font-weight-bold;
    }
}

.nav.nav-tabs {
    .nav-link {
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out !important;

        &.focus,
        &:focus {
            border: none !important;
        }

        &.hover,
        &:hover {
            border: none !important;
            border-bottom: 3px solid rgba($primary, 0.5) !important;
            color: rgba($primary, 0.5) !important;
        }

        &.active {
            border: none !important;
            border-bottom: 3px solid $primary !important;
            color: $primary !important;
            font-weight: $font-weight-bold;
        }

        &:not(.active) {
            color: $secondary;
        }
    }
}

#logo {
    height: 28px;
    width: auto;
}

#nav-profile img {
    border-radius: 50rem;
    width: 2.75rem;
    height: 2.75rem;
}

img#logo_ao3 {
    width: 1.5rem;
    height: 1.5rem;
}
