$navbar-height: 5rem;
$breadcrumb-height: 3rem;

nav.navbar {
    height: $navbar-height !important;

    #nav-profile {
        cursor: pointer;
    }
}

#logo {
    height: 28px;
    width: auto;
}
