.table {
    // min-width: 960px;
    margin-bottom: 0;
    overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: 0 0 0 1px var(--#{$prefix}border-color);

    thead.row-sticky {
        position: sticky !important;
        top: 0 !important;
    }

    th,
    td {
        vertical-align: middle !important;
        max-width: 0;

        & > .form-check {
            display: flex;
            justify-content: center;
            margin-bottom: 0 !important;
        }
    }

    th {
        background-color: #f9f9fb;
        color: #5e6599;
        text-align: center;
    }
}

table#fileList {
    $fileList_table: (
        1: 5%,
        2: 10%,
        3: 50%,
        4: 10%,
        5: 10%,
        6: 15%,
    );
    th,
    td {
        &:not(:nth-child(3)) {
            text-align: center;
        }
        @each $i, $percent in $fileList_table {
            &:nth-child(#{$i}) {
                width: $percent;
            }
        }
    }
}

table#versionHistory {
    min-width: auto !important;

    $versionHistory: (
        1: 5%,
        2: 15%,
        3: 38%,
        4: 15%,
        5: 15%,
        6: 12%,
    );
    th,
    td {
        text-align: center;

        @each $i, $percent in $versionHistory {
            &:nth-child(#{$i}) {
                width: $percent;
            }
        }
    }
}
