.table-responsive {
    border-top: 2px solid $primary;
}

.table {
    min-width: 960px;
    margin-bottom: 0;
    overflow: hidden;
    margin-top: -1px;

    thead.row-sticky {
        position: sticky !important;
        top: 0 !important;
    }

    th,
    td {
        @include text-truncate;
        white-space: nowrap;
        vertical-align: middle !important;
        max-width: 0;
        &:first-child {
            border-left: none;
        }
        &:last-child {
            border-right: none;
        }
        & > .form-check {
            display: flex;
            justify-content: center;
            margin-bottom: 0 !important;
        }
    }

    th {
        background-color: #edeff2;
        color: #64686e;
        text-align: center;
    }
}

table#fileList {
    $fileList_table: (
        1: 5%,
        2: 10%,
        3: 50%,
        4: 10%,
        5: 10%,
        6: 15%,
    );
    th,
    td {
        &:not(:nth-child(3)) {
            text-align: center;
        }
        @each $i, $percent in $fileList_table {
            &:nth-child(#{$i}) {
                width: $percent;
            }
        }
    }
}
