$prefix: sm-;
$enable-negative-margins: true;

// type
$font-family-sans-serif: Pretendard, -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
    "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", sans-serif;

// color
$primary: #41527d;
$secondary: #595959;
$info: #00b4f0;
$dark: #212529;
$light: #f7f7f7;
